@{
    var titulo="Doña Chonita";
    var conexion=Database.Open("tienda");
    var peticion = conexion.Query("SELECT * FROM productos ORDER BY precio");

}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>titulo de mi sitio</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <div id="contenedor">
            @RenderPage("includes/cabecera.cshtml")
            <section>
                @RenderPage("menutienda.cshtml")
                <div id="productos">
                @foreach(var fila in peticion)
                    {
                        <hr>
                            <h3>@fila.nombre</h3>
                            <p>@fila.descripcion</p>
                            <p>Precio: @fila.precio</p>
                            <p>Peso: @fila.peso</p>
                    }
                </div>
            </section>
            @RenderPage("includes/piedepagina.cshtml")
        </div>
    </body>
</html>
